$background-color: #000000;
$header-color: #0000ff;
$font-color: #ffffff;
$error: #ff0000;
$font-fam: Arial, Helvetica, sans-serif;


html, body {
  background: $background-color;

}
p,h1,h2,ul, pre, label, form {
  color: $font-color;
  font-family: $font-fam; 
}
h1 {
  color: $header-color;
}
.error {
  color: $error;
}

